[submodule "web"]
	path = web
	url = git@github.com:PrismMarketLabs/prism-front-end.git
[submodule "web.admin"]
	path = web.admin
	url = git@github.com:PrismMarketLabs/prism-admin.git
[submodule "web.lp"]
	path = web.lp
	url = git@github.com:PrismMarketLabs/prism-landing-page-v2.git
