ENVIRO=dev
NET=testnet
TESTNET_USDC_ADDRESS=0.0.429274

MARKET_ID=
ADMIN_BEARER_TOKEN=

# ADMIN account is 0
0_ACCOUNT_ID=0.0.7090546
0_PRIVATE_KEY=
0_KEY_TYPE=ECDSA

# Normal user accounts:
1_ACCOUNT_ID=0.0.7511359
1_PRIVATE_KEY=
1_KEY_TYPE=ED
2_ACCOUNT_ID=0.0.7513087
2_PRIVATE_KEY=
2_KEY_TYPE=ECDSA
# etc.
